body {
	font-family: monospace;
}

#expand-toggle {
	display: none;
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0.3s;
	cursor: pointer;
} 

#close-btn {
	visibility: hidden;
}

#expand-toggle:checked + table > tbody > .expandable {
	visibility: visible;
}

#expand-toggle:checked ~ #expand-btn {
	display: none;
}

#expand-toggle:checked ~ #close-btn {
	visibility: visible;
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #88ff88;
	border: 1px solid;
	border-radius: 3px; 
	cursor: pointer;
}


